@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--main-color);
  background: var(--secondary-color);
}

.app_redesigned {
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 12px;
  background: var(--secondary-color);
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--main-color);
}
