.list {
  max-height: 600px;
  overflow-y: auto;

  &Loading {
    width: 300px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--secondary-color);
  }
}

.empty {
  padding: 10px 20px;
}