.recommendations {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
