.AppLink {
  text-decoration: none;
  color: var(--secondary-color);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.primary {
  color: var(--main-color);
}

.secondary {
  color: var(--secondary-color);
}

.red {
  color: red;
}
