.articleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 21px;
    height: 21px;

    fill: var(--accent-color);
  }
}

.imageBlock {
  width: 100%;
  max-width: 800px;
  max-height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  width: 100%;
  height: 400px;
  margin: 30px 0;
  border-radius: 30px;
  overflow: hidden;
}