.form {
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  border: 1px solid var(--main-color);

  &Redesigned {
    margin-bottom: 10px;
    padding: 24px;
    border: none;
  }

  .input {
    flex-grow: 1;
  }
}
