.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  transition: width 0.3s;
  background: var(--main-color);

  .switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .lang {
    margin-left: 20px;
  }
  
  .collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
  }
  
  .items {
    margin-top: 20px;
    margin-left: 30px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    align-items: center;
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
  }
}

.SidebarRedesigned {
  width: 220px;
  height: 100%;
  position: relative;
  transition: all 200ms ease-in-out;
  border-radius: 32px;
  overflow: hidden;
  background: var(--light-bg-redesigned);

  .appLogo {
    padding-top: 20px;
  }

  .items {
    margin-top: 60px;
    margin-left: 30px;
  }

  .collapseBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(90deg);
    z-index: 10;
    color: var(--icon-redesigned);
  }

  .switchers {
    width: 100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.collapsedRedesigned {
  width: 50px;

  .switchers {
    align-items: center;
    flex-direction: column;
  }

  .items {
    margin-left: 0;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }

  .collapseBtn {
    transform: rotate(-90deg);
  }

  .appLogo {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}