.Drawer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
}

.content {
  width: 100%;
  height: 70%;
  min-height: 100px;
  padding: 20px;
  position: relative;
  bottom: 0;
  transition: 0.3s transform;
  transform: translateY(100%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  background: var(--main-color);
}

.content::before {
  width: 100px;
  height: 10px;
  margin: auto;
  position: relative;
  bottom: 40px;
  display: block;
  content: "";
  border-radius: 12px;
  background: var(--secondary-color);
}

.opened {
  pointer-events: auto;
  z-index: 10000;
  opacity: 1;

  .content {
    transform: translateY(0%);
  }
}

.isClosing {
  .content {
    transform: translateY(100%);
  }
}