.item {
  display: flex;
  align-items: center;

  svg {
    fill: var(--accent-color-reversed)
  }
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--secondary-color);
}

.collapsed {
  .link {
    width: 0;
    transition: 0.2s opacity;
    opacity: 0;
  }
}
