.ArticleList {
  width: 100%;

  display: grid;
  gap: 30px;

  &.GRID {
    grid-template-columns: repeat(2, 1fr);
  }
  
  &.LIST {
    grid-template-columns: 1fr;
  }
}


.footer {
  margin: 30px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendations {
  grid-template-columns: repeat(4, 1fr);
}