.NotificationItem,
.link {
  width: 100%;
  display: block;
}

.NotificationItem {
  padding: 12px 26px !important;
  pointer-events: none;
}

.link {
  &:hover {
    .NotificationItem {
      pointer-events: none;
      background: var(--light-bg-redesigned);
    }
  }
}

.text {
  p {
    color: var(--secondary-color);
  }
}