.app_dark_theme {
  --main-color: #f4f9fb;
  --secondary-color: #006c9e;
  --accent-color: #22d4a4;
  --accent-color-reversed: #007556;

  // code
  --code-color: #f4f9fb;
  --code-bg: #044766;

  //article
  --card-bg: #2d93c4;
}