.app_dark_theme {
    --main-color: #F4F9FB;
    --secondary-color: #006C9E;
    --accent-color: #22d4a4;
    --accent-color-reversed: #007556;

    // code
    --code-color: #F4F9FB;
    --code-bg: #044766;
}