:root {
  --main-color: #006c9e;
  --secondary-color: #f4f9fb;
  --accent-color: #007556;
  --accent-color-reversed: #22d4a4;

  // code
  --code-color: #333;
  --code-bg: #e5e5e5;

  //article
  --card-bg: #d6d6d6;
}
