.noRating {
  width: 100%;

  margin-top: 40px;

  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;

  border: 1px solid var(--accent-color);
}

.backToArticles {
  white-space: nowrap;
  background: var(--dark-bg-redesigned);
}