.comment {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid var(--main-color);

  &.noBorder {
    border: none;
  }

  &__header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__text {
    padding-left: 10px;
  }
}